/*구글 font*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

/*모든 html 기본값 초기화*/
@import "reset.css";

/*Yellow colour*/
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";

/* Screens */
@import "screen/login.css";
@import "screen/friends.css";
@import "screen/find.css";

/*구글폰트로 부터 받아온 폰트를 전체 적용*/
body {
  color: #2f363e;
  font-family: "Open Sans", sans-serif;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}
